<h1>User一覧</h1>

  <% @user.each do |user| %>
    <div style="border: solid 1px black; margin: 2px;">
      <p>
        name:
        <%= user.name %>
      </p>
      <p>
        email:
        <%= user.email %>
      </p>

      <p>
        user's first posts title:
        <%= user.posts[0].title %>
      </p>

      <p>
        user's first posts comments:
        <%= user.posts[0].comments[0].text %>
      </p>
      </div>
  <% end %>
